@page
@model CRUD.Pages.Stds.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div style="position: relative;">
    <a asp-page="./Report" class="btn btn-primary" style="position: absolute; top: 0; right: 0;">Report</a>
</div>

<p>
    <a href="/stds/AddStudent">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
              @*   @Html.DisplayNameFor(model => model.Student[0].Name) *@
              FullName
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Student[0].Gender) *@
                Gioi Tinh
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.Student[0].Dob) *@
               Ngay Sinh
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Gpa)
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.Student[0].Depart) *@
               Ten Khoa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               @*  @Html.DisplayFor(modelItem => item.Gender) *@
               @* @(item.Gender?"Male":"Female") *@
                    <form>
                        <input type="radio" id="male_@item.Id" name="gender_@item.Id" value="Male" @(item.Gender ? "checked" : "") disabled>
                        <label for="male_@item.Id">Male</label>
                        <input type="radio" id="female_@item.Id" name="gender_@item.Id" value="Female" @(!item.Gender ? "checked" : "") disabled>
                        <label for="female_@item.Id">Female</label>
                    </form>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gpa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depart.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
